<!--Section: Contacts v.3-->
<div class="col-md-12">


  <!--Card-->
  <div class="card card-cascade">

    <!--Card image-->
    <div class="card-header grey">
      <h4 class="d-flex justify-content-center text-white">ADD NEW BROKERAGE CONTACT INFO</h4>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Grid row-->
      <div class="row mb-lg-4 center-on-small-only">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">
          <div class="card">
            <div class="card-body">
              <div class="col-md-6 float-left">
                <div class="avatar">
                  <img src="../../../../assets/img/Courtney-Rider.jpg" class="rounded-circle img-responsive z-depth-1" alt="Fourth sample avatar image">
                </div>
              </div>

              <div class="col-md-6 float-right">
                <h4>
                  <strong>Courtney Rider</strong>
                </h4>
                <h6 class="font-bold grey-text mb-4">Sales Representative</h6>
                <p class="grey-text">courtneyr@dentalselect.com</p>
                <p class="grey-text">512-343-2616</p>

              </div>
            </div>
          </div>
        </div>

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">
          <div class="card">
            <div class="card-body">
              <div class="col-md-6 float-left">
                <div class="avatar">
                  <img src="../../../../assets/img/Hope-Eastman.jpg" class="rounded-circle img-responsive z-depth-1" alt="Second sample avatar image">
                </div>
              </div>

              <div class="col-md-6 float-right">
                <h4>
                  <strong>Hope Eastman</strong>
                </h4>
                <h6 class="font-bold grey-text mb-4">Account Manager</h6>
                <p class="grey-text">hopee@dentalselect.com</p>
                <p class="grey-text">801-555-2616</p>


              </div>
            </div>
          </div>
        </div>
        <!--Grid column -->

      </div>
      <!--Grid row-->



      <div class="text-center">
        <button type="button" class="btn teal btn-rounded waves-light" mdbWavesEffect>ADD ANOTHER</button>
      </div>



    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->







</div>
