<section class="section search-section pb-3">
    <div class="row">
        <div class="col-12 mb-r">
            <div class="card">
                <div class="mat-card-title">{{tableData.groupName}}</div>
                <div class="card-body d-inline-flex">
                    <div class="col-lg-4">
                        <div class="row">
                            <ul>
                                <li>Group Number: {{tableData.groupId}}</li>
                                <li>Effective: {{tableData.effective}}</li>
                                <li>New Hire Wait Period: {{tableData.waitPeriods}}</li>
                                <li>Subscribers: {{tableData.subs}}</li>
                                <li>Renewal: {{tableData.renewal}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>