
<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
        
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
          <h4 class="h4-responsive">Alerts </h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Info message-->
        <a class="btn btn-info waves-light" (click)="showInfo()" mdbWavesEffect>Info message</a>
        <!--Warning message-->
        <a class="btn btn-warning waves-light" (click)="showWarning()" mdbWavesEffect>Warning message</a>
        <!--Success message-->
        <a class="btn btn-success waves-light" (click)="showSuccess()" mdbWavesEffect>Success message</a>
        <!--Error message-->
        <a class="btn btn-danger waves-light" (click)="showError()" mdbWavesEffect>Error message</a>

        <hr>

        <h2>Placement:</h2>
        <p>
        <a class="btn btn-info waves-light" (click)="showTopLeft()" mdbWavesEffect>Top left</a>
        <a class="btn btn-info waves-light" (click)="showTopCenter()" mdbWavesEffect>Top center</a>
        <a class="btn btn-info waves-light" (click)="showTopFullWidth()" mdbWavesEffect>Top full width</a>
        <a class="btn btn-info waves-light" (click)="showTopRight()" mdbWavesEffect>Top right</a>
        </p>
        <p>
        <a class="btn btn-info waves-light" (click)="showBottomLeft()" mdbWavesEffect>Bottom left</a>
        <a class="btn btn-info waves-light" (click)="showBottomCenter()" mdbWavesEffect>Bottom center</a>
        <a class="btn btn-info waves-light" (click)="showBottomFullWidth()" mdbWavesEffect>Bottom full width</a>
        <a class="btn btn-info waves-light" (click)="showBottomRight()" mdbWavesEffect>Bottom right</a>
        </p>

      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>
