<app-stats-card class="mb-4"></app-stats-card>
<section class="my-5">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Section: Chart-->
        <section>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-xl-5 col-lg-12 mr-0">

                    <!--Card image-->
                    <div class="view gradient-card-header blue-gradient">
                        <h2 class="h2-responsive mb-0">Sales</h2>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body pb-0">

                        <!--Panel data-->
                        <div class="row card-body pt-3">

                            <!--First column-->
                            <div class="col-md-6">

                                <!--Date select-->
                                <p class="lead">
                                    <span class="badge info-color p-2">Data range</span>
                                </p>
                                <mdb-select [options]="dateOptionsSelect" placeholder="Choose time period"></mdb-select>

                                <!--Date pickers-->
                                <p class="lead mt-5">
                                    <span class="badge info-color p-2">Custom date</span>
                                </p>
                                <br>
                                <div class="md-form">
                                    <mdb-date-picker name="mydate" [placeholder]="'Selected date'" required></mdb-date-picker>
                                    <label class="active">From</label>
                                </div>
                                <div class="md-form">
                                    <mdb-date-picker name="mydate" [placeholder]="'Selected date'" required></mdb-date-picker>
                                    <label class="active">To</label>
                                </div>

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-md-6 text-center">

                                <!--Summary-->
                                <p>Total sales:
                                    <strong>$2000</strong>
                                    <button type="button" class="btn btn-info btn-sm p-2 waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Total sales in the given period">
                                        <i class="fa fa-question"></i>
                                    </button>
                                </p>
                                <p>Average sales:
                                    <strong>$100</strong>
                                    <button type="button" class="btn btn-info btn-sm p-2 waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Average daily sales in the given period">
                                        <i class="fa fa-question"></i>
                                    </button>
                                </p>

                                <!--Change chart-->
                                <mdb-simple-chart [percent]="56" [barColor]="'FF5252'" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
                                <h5>
                                    <span class="badge red accent-2 p-2">Change
                                        <i class="fa fa-arrow-circle-down ml-1"></i>
                                    </span>
                                    <button type="button" class="btn btn-info btn-sm p-2 waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Percentage change compared to the same period in the past">
                                        <i class="fa fa-question"></i>
                                    </button>
                                </h5>
                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Panel data-->

                    </div>
                    <!--/.Card content-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-7 col-lg-12 my-5">

                    <!--Card image-->
                    <div class="view gradient-card-header white">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>

                        <!-- Chart -->
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chart1Labels" [options]="chartOptions" [legend]="true">
                        </canvas>

                    </div>
                    <!--/Card image-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Chart-->

        <!--Section: Table-->
        <section>

            <app-table2 [shadows]="false"></app-table2>

        </section>
        <!--Section: Table-->

    </div>
    <!--/.Card-->

</section>

<section class="mb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 my-5">

            <!--Card-->
            <panel header="Things to improve">

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card content-->

            </panel>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 my-5">

            <!--Card-->
            <panel header="Users activity">

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card content-->

            </panel>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 my-5">

            <!--Card-->
            <panel header="Statistics">

                <!--Card content-->
                <div class="card-body text-center">

                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac facilisi
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros
                            <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card content-->

            </panel>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>

<app-stats-card2></app-stats-card2>