<!--/. Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav blue-grey" [containerInside]="false">

    <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a class="button-collapse">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!--/. SideNav slide-out button -->
    </navlinks>

    <logo>
        <!-- <img src="../../../../assets/img/favicon-32x32.png">  -->
    </logo>

    <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>
                    <i class="fa fa-envelope"></i>
                    <span class="clearfix d-none d-sm-inline-block"></span>
                </a>
            </li>

        </ul>
    </navlinks>
</mdb-navbar>
<!--/. Navbar -->