<!--Section: Info v.1-->
<section class="section">

<div class="row d-print-inline-flex">
<div class="col-lg-6 col-md-12 mb-r">



    <!--Card-->
    <div class="card card-cascade">

      <!--Card image-->
      <div class="card-header grey">
        <h4 class="d-flex justify-content-center text-white">COMMISSIONS</h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">

        <div style="display: block">
          <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
<div class="col-lg-6 col-md-12 mb-r">
    <!--Card-->
    <div class="card card-cascade">

      <!--Card image-->
      <div class="card-header grey">
        <h4 class="d-flex justify-content-center text-white">COMMISSION STATEMENTS</h4>
      </div>
      <!--Card content-->
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Statement Date</th>
              <th>Amount</th>
              <th>Download</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Date().random</th>
              <td>number.random()</td>
              <td>Download Cloud</td>
              <td>email@mdo</td>
            </tr>
            <tr>
              <th scope="row">Date().random</th>
              <td>number.random()</td>
              <td>Download Cloud</td>
              <td>email@mdo</td>
            </tr>
            <tr>
              <th scope="row">Date().random</th>
              <td>number.random()</td>
              <td>Download Cloud</td>
              <td>email@fat</td>
            </tr>
            <tr>
              <th scope="row">Date().random</th>
              <td>number.random()</td>
              <td>Download Cloud</td>
              <td>email@me</td>
            </tr>
            <tr>
              <th scope="row">Date().random</th>
              <td>number.random()</td>
              <td>Download Cloud</td>
              <td>email@me</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
</section>
