<div class="col-12">



  <!--Card-->
  <div class="card card-cascade">

    <!--Card image-->
    <div class="card-header grey">
      <h4 class="d-flex justify-content-center text-white">LICENSE</h4>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
<table class="table table-hover">
  <thead>
    <tr>
      <th>License ID Number</th>
      <th>State</th>
      <th>Effective Date</th>
      <th>Expiration Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">number.random()</th>
      <td>Texas</td>
      <td>Date().random</td>
      <td>Date().random</td>
      <td>Green</td>
    </tr>
    <tr>
      <th scope="row">number.random()</th>
      <td>Texas</td>
      <td>Date().random</td>
      <td>Date().random</td>
      <td>Green</td>
    </tr>
    <tr>
      <th scope="row">number.random()</th>
      <td>Texas</td>
      <td>Date().random</td>
      <td>Date().random</td>
      <td>Green</td>
    </tr>
  </tbody>
</table>

</div>
<!-- <form>
  <div class="file-field md-form">
    <div class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
      <span>Choose file</span>
      <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
    </div>
  </div>
</form> -->


    <!--/.Card content-->
  </div>
  <!--/.Card-->
</div>
