<header>
  <section class="view intro intro-2 hm-stylish-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">


            <section class="form-simple">

              <!--Form with header-->
              <div class="card">

                <!--Header-->
                <div class="header pt-3">

                  <div class="row d-flex">
                    <h1 class="deep-grey-text font-bold mt-3 mb-4 pb-1 mx-5">Account Registration</h1>
                    <img src="../../../../assets/img/DS-Cheeky-Grin-80x80.png" class="img-fluid mx-5" alt="Responsive image">
                  </div>

                </div>
                <!--Header-->

                <div class="card-body mx-4 mt-4">

                  <!--Body-->
                  <div class="md-form">
                    <!-- Default input email -->
                    <input type="email" id="form14" class="form-control p-2" data-error="wrong mail" data-success="right mail" placeholder="Email Address" mdbInputDirective>
                    <!-- <input type="email" id="defaultFormLoginEmailEx" class="form-control p-2" placeholder="Email Address"> -->
                  </div>

                  <div class="md-form pb-3">
                    <!-- Default input password -->
                    <input type="text" id="form13" class="form-control p-2" data-error="wrong ssn" data-success="right ssn" placeholder="Social Security Number" mdbInputDirective>
                    <!-- <input type="password" id="defaultFormLoginPasswordEx" class="form-control p-2" placeholder="Password"> -->

                  </div>
                  <div class="row align-center">
                    <div class="col-6 mb-4">

                      <a routerLink="#">
                        <button type="submit" class="btn teal btn-round z-depth-1" value="submit" mdbInputDirective>Validate Your Account</button>
                      </a>
                    </div>
                    <div class="col-6 mb-4">
                      <a routerLink="/pages/login">
                        <button type="submit" class="btn teal btn-round z-depth-1" value="submit" mdbInputDirective>BACK</button>
                      </a>
                    </div>
                  </div>
                </div>

              </div>
              <!--/Form with header-->

            </section>




          </div>
        </div>
      </div>
    </div>
  </section>
</header>
