<header>
  <section class="view intro intro-2 hm-stylish-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">


            <section class="form-simple">

              <!--Form with header-->
              <div class="card">

                <!--Header-->
                <div class="header pt-3">

                  <div class="row d-flex justify-content-center">
                   
                      <h1 class="deep-grey-text font-weight-bold mt-3 mb-4 pb-1 mx-5">I am a...</h1>
                   
                  </div>

                </div>
                <!--Header-->

                <div class="card-body mx-4 mt-4">
                  <list>
                    <a routerLink="/pages/register-broker">
                      <menu class="h2">Broker</menu>
                    </a>
                    <a routerLink="/pages/register-group-admin">
                      <menu class="h2">Group Admin</menu>
                    </a>
                    <a routerLink="/pages/register-dentist">
                      <menu class="h2">Dentist/Provider</menu>
                    </a>
                    <a routerLink="/pages/register-member">
                      <menu class="h2">Member</menu>
                    </a>
                  </list>

                  <div class="row d-flex justify-content-end">
                    <div class="mb-4">

                      <a routerLink="/pages/login">
                        <button type="submit" class="btn teal btn-round z-depth-1" value="submit" mdbInputDirective>BACK</button>
                      </a>
                    </div>

                  </div>

                </div>

              </div>
              <!--/Form with header-->

            </section>




          </div>
        </div>
      </div>
    </div>
  </section>
</header>