<div class="row my-5">
  <div class="col-md-3">


    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="waves-light d-flex justify-content-center" mdbWavesEffect>
        <img src="../../../../assets/img/Jared-Tuia.jpg" class="rounded-circle img-responsive z-depth-1">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title mb-2 font-bold">
          <strong>Broker.Name</strong>
        </h4>
        <h5 class="grey-text">
          <strong>Broker</strong>
        </h5>


      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>

  <div class="col-md-9">


    <!--Card-->
    <div class="card card-cascade">

      <!--Card image-->
      <div class="card-header grey">
        <h4 class="d-flex justify-content-center text-white">Edit Personal Info:</h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Contact Form-->
        <form>

          <!--First row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form12" class="form-control">
                <label class="active" for="form12">Email Address</label>
              </div>
            </div>

            <!--Second column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form13" class="form-control">
                <label class="active" for="form13">Password</label>
              </div>
            </div>

            <!--Third column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form14" class="form-control">
                <label class="active" for="form14">Confirm Password</label>
              </div>
            </div>
          </div>
          <!--/.First row-->

          <!--Second row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form15" class="form-control">
                <label for="form15">Security Question</label>
              </div>
            </div>

            <!--Second column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form16" class="form-control">
                <label for="form16">Security Question Answer</label>
              </div>
            </div>
          </div>
          <!--/.Second row-->

          <!--Third row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form17" class="form-control">
                <label class="active" for="form17">First Name</label>
              </div>
            </div>

            <!--Second column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form18" class="form-control">
                <label class="active" for="form18">Middle Name</label>
              </div>
            </div>

            <!--Third column-->
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form19" class="form-control">
                <label for="form19">Last Name</label>
              </div>
            </div>
          </div>
          <!--/.Third row-->

          <!--Fourth row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form20" class="form-control">
                <label for="form20">Phone Number</label>
              </div>
            </div>

            <!--Second column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form21" class="form-control">
                <label for="form21">Gender</label>
              </div>
            </div>
          </div>
          <!--/.Fourth row-->
          <div class="card-header grey">
            <h4 class="d-flex justify-content-center text-white">Edit Financial Account Info:</h4>
          </div>

          <!--Fifth row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form22" class="form-control">
                <label class="active" for="form22">Financial Institution</label>
              </div>
            </div>

            <!--Second column-->
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="" mdbInputDirective type="text" id="form23" class="form-control">
                <label class="active" for="form23">Name on Account</label>
              </div>
            </div>
            </div>
            <!--/.Fifth row-->

            <!--Sixth row-->
            <div class="row">
              <!--First column-->
              <div class="col-md-6">
                <div class="md-form">
                  <input placeholder="" mdbInputDirective type="text" id="form24" class="form-control">
                  <label for="form24">Account Type</label>
                </div>
              </div>

              <!--Second column-->
              <div class="col-md-6">
                <div class="md-form">
                  <input placeholder="" mdbInputDirective type="text" id="form25" class="form-control">
                  <label for="form25">Account Number</label>
                </div>
              </div>
            </div>
            <!--/.Sixth row-->

            <div class="text-center">
              <button type="button" class="btn teal btn-rounded waves-light" mdbWavesEffect>Update</button>
            </div>

        </form>

        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->







    </div>





  </div>
