<!--Section: Quick Search v.1-->
<section class="section search-section pb-3">
  <div class="row">
    <div class="col-md-12 mb-r">
      <div class="card search">
        <div class="card-body d-inline-flex">
          <h4 class="font-weight-bold pt-3 pr-5 pl-2">Quick Search</h4>
          <form method="post" class="d-flex-end">
            <input type="text" class="textbox" placeholder="Group Name or Number">
            <input title="Search" value="" type="submit" class="button">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section: Info v.1-->
<section class="section info-section pb-3">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">
      <!--Panel-->
      <div class="card card-body panel d-flex align-items-center">
        <h3 class="card-title font-weight-bold justify-content-center">Manage Renewals</h3>
        <p class="card-text mt-3 mb-4">You have 8 GROUPS up for renewal in the next 90 days</p>
        <div class="flex-row">
          <img src="../../../../assets/img/Icn-Renewsm.png">
          <a routerLink="/broker/renewals"><h4 class="d-inline-flex teal-text">MANAGE RENEWALS</h4></a>

        </div>
      </div>
      <!--/.Panel-->
    </div>

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">
      <!--Panel-->
      <div class="card card-body panel d-flex align-items-center">
        <h4 class="card-title font-weight-bold justify-content-center">Your YTD Premium</h4>
        <h4 class="card-text">total.premium</h4>
          <p class="d-flex justify-content-between">Dental: dental.premium  <br>  Vision: vision.premium</p>
        <div>
          <a class="mailto btn btn-teal" href="mailto:quotes@dentalselect.com">Request a Quote</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>
  </div>
</section>

<hr>

<!--Section: Team v.3-->
<section class="section team-section pb-3">


  <!--Grid row-->
  <div class="row mb-lg-4 center-on-small-only">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">
      <div class="card">
        <div class="card-body">
          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="../../../../assets/img/Courtney-Rider.jpg" class="rounded-circle img-responsive z-depth-1" alt="Fourth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4>
              <strong>Courtney Rider</strong>
            </h4>
            <h6 class="font-bold grey-text mb-4">Sales Representative</h6>
            <p class="grey-text">courtneyr@dentalselect.com</p>
            <p class="grey-text">512-343-2616</p>

          </div>
        </div>
      </div>
    </div>

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">
      <div class="card">
        <div class="card-body">
          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="../../../../assets/img/Hope-Eastman.jpg" class="rounded-circle img-responsive z-depth-1" alt="Second sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4>
              <strong>Hope Eastman</strong>
            </h4>
            <h6 class="font-bold grey-text mb-4">Account Manager</h6>
            <p class="grey-text">hopee@dentalselect.com</p>
            <p class="grey-text">801-555-2616</p>


          </div>
        </div>
      </div>
    </div>
    <!--Grid column -->

  </div>
  <!--Grid row-->



</section>
<!--Section: Team v.3-->
